@tailwind base;
@tailwind components;
@tailwind utilities;

.hidden {
  display: none;
}
.modalBg {
  background: rgba(255, 255, 255, 0.5);
}
.modalBg2 {
  background: rgba(0, 0, 0, 0.856);
}
.cardBg {
  background: rgba(123, 129, 161, 0.8);
}
.logoBg {
  background: linear-gradient(
    90deg,
    rgba(9, 9, 121, 1) 29%,
    rgba(70, 130, 180, 1) 71%,
    rgba(0, 212, 255, 1) 100%
  );
}

body {
  overflow-x: hidden;
  box-sizing: border-box;
}
